/* ******************************  Import  ************************************************************************************** */

@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');


/* ******************************  all  ************************************************************************************** */

body{
  font-family: 'Roboto Condensed', sans-serif;
}

/* ******************************  making variable  ************************************************************************************** */

:root{
  --primary-white: #fff;
  --primary-orange: #f9ab00;
  --primary-dark: rgba(255, 255, 255, 0);

}


/* ******************************  Navbar  ***************************************************************************************** */

.logo{
  width: 3.75rem;
  height: 3.75rem;
}

/* ******************************  Menu links  ************************************************************************************** */

nav a.nav-link {
  font-size: 0.8rem;
  letter-spacing: 0.038rem;
  cursor: pointer;
}

nav ul li {
  text-transform: uppercase;

}

.navbar-nav > li > a{
  margin-left: 0.75rem;
  margin-right: 0.75rem;
  color: var(--primary-white) !important;
  border-top: 0.1875rem solid var(--primary-dark);
}

.navbar-nav > li > a.active, .navbar-nav > li > a.active:focus{
  border-top: 0.1875rem solid var(--primary-orange);
}

.navbar-nav > li > a:hover{
  border-top: 0.1875rem solid var(--primary-orange);
}
